services:
  postgres:
    image: postgres:latest
    env_file:
      - .env
    ports:
      - "5435:5432"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB -h localhost",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - pgdata:/var/lib/postgresql

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    env_file:
      - .env
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/$KC_DB
      KC_DB_USERNAME: $KC_USERNAME
      KC_DB_PASSWORD: $KC_PASSWORD

      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: adminpass
      
      KC_SPI_THEME_CACHE_TEMPLATES_CACHE_ENABLED: false
      KC_SPI_THEME_CACHE_STATIC_FILES_CACHE_ENABLED: false
      KC_HEALTH_ENABLED: true  
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - C:/Users/Ddubo/Desktop/keycloak-themes:/opt/keycloak/themes
    command: ["start-dev"]
volumes:
  pgdata:
